html,body{
    margin:0;
    width:100%;
    height: 100%;
}
div{
    box-sizing: border-box;
}
.left-menu{
    position: fixed;
    width: 15%;
    background-color: #ecf0f1;
    height: 100%;
    padding: 20px;
}
.content{
    left: 15%;
    background-color: #2c3e50;
    width: 100%;
    height: 100%;
}
.content-banner{
    padding-left: 15%;
    width: 100%;
    height: 100%;
}
.content-image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    padding-left: 15%;
    flex-wrap: wrap;
}
.content-information{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    background-color: #2c3e50 ;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-footer{
    background-color: #ccc;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}
.menu-item{
    width: 100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2c3e50;
    margin-bottom: 15px;
}
.menu-item a {
    color: white;
    text-decoration: none;
}

.menu-item:hover{
    cursor: pointer;
    transition: 2s;
    background-color: #aaa;
}
.register-form{
    width: 100%;
    padding-left: 15%;
    display: flex;
    justify-content: center;
    min-height: 90%;
    align-items: center;
    flex-direction: column;
}
.register-form-content{
    background-color: rgba(200,200,200,0.2);
    margin: 20px;
    padding: 20px;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: -fit-content;
    width: 20%;
}


form label{
    display: block;
    color: white;

}
form >label:first-child{
    margin-top: 3px;
}
form input{
    border: 2px solid #ccc;
    border-radius: 2px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 3px;

}
form input:focus{
    border: 2px solid #00aaff;
}
.alert-danger{
    background-color: rgba(244,159,191,0.3);
    color: #c0392b;
    padding: 10px;
    border-radius: 5px;
    width: 25%;
    text-align: center;
    margin:3px;
}
.alert-success{
    background-color: rgba(46, 204, 113,0.3);
    color: #27ae60;
    padding: 10px;
    border-radius: 5px;
    width: 25%;
    text-align: center;
}
.content-game{
    width: 50%;
    height:90%;
    display: flex;
    margin-left: 35%;
    margin-right: 15%;
    background-color:#ecf0f1 ;
    padding: 10px;
    align-items: center;
}
.content-game-content{
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: -fit-content;
}
#tetris_canvas{
    border: 1px solid black;

}
.button{
    background-color:#2c3e50 ;
    color:white;
    border: none;
    padding: 10px;
    border-radius: 2px;

}
.button:hover{
    background-color: #ccc;
    transition: 0.5s;
    cursor: pointer;
}
.content-game-leaderboard{
    width: 100%;
    height: 72%;
    background-color: #2c3e50;
    margin-left: 2px;
}
.content-banner img{
    height: 100%;
    width: 100%;
    filter:blur(5px);
}

.content-image div{
    border: solid 2px #2c3e50;
    width: 40%;
    height: 90%;
    margin: 20px;
}

.content-image div img{
    width: 100%;
    height: 100%;
}
.content-information div{

    width: 40%;
    height: 100%;
    margin-top:100px ;
}
.content-game-leaderboard-status{
    color: white;
}
.content-game-leaderboard-score{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-top :solid 2px white;
}
.content-game-leaderboard-score div{
    margin:10px ;
}





